.container-2 {

    display: flex;

}

.left-painel-2 {

    height: 100vh;
    width: 20vw;
    background-color: white;
    border: 2%;

}

.painel-central-2 {

    height: 100%;
    width: 80vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.top-2 {
    width: 100%;
    height: 50%;
    background-color: white;


}

.bottom-2 {

    width: 100%;
    height: 50%;
}

.btn-new-chat-2 {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;
    font-size: 15px;

}

.btn-bx {

    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    padding: 28px;
    border-radius: 12px;
    border: none;
}

.btn-chat-2 {
    width: 100vh;
    background-color: transparent;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.btn-chat img {

    margin-right: 15px;
}

.div-principal-text-2 {
    flex-direction: row;
    display: flex;
}

.input {
    border-radius: 10px;
    padding: 18px;
    border: none;
    background-color: #F7F9FB;
    width: 32vw;
    margin-bottom: 16px;
    margin-top: 110px;
    height: 1px;
    padding-right: 30px;
    padding-left: 70px;
    align-items: center;
}

.logo-2 {

    margin-top: 8vw;

}



.input-text {

    position: relative;
    display: flex;

}

.aviao {
    position: absolute;
    right: 10px;
    top: 73%;
    width: 20px;
    height: 20px;
}

.microfone {
    position: absolute;
    left: 10px;
    top: 73%;
    width: 20px;
    height: 20px;
}

.botaoimagem {
    position: absolute;
    left: 40px;
    top: 73%;
    width: 20px;
    height: 20px;
}

p {
    font-size: 16px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exemples h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capacibilities h3 {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.limitations h3 {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.dicas-container{

    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 16px;
}