@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.inpt {

    padding: 18px;
    /* espaçamento interno */
    border: none;
    /* remove borda */
    background-color: #F7F9FB;
    /* coloca cor */
    border-radius: 10px;
    width: 377px;
    margin-bottom: 16px;
}

.btn {

    background-color: black;
    color: white;
    border-radius: 10px;
    /*arredonda as bordas*/
    border: none;
    /*altura*/
    width: 377px;
    /*largura*/
    height: 50px;


}